<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>TestJDBCServlet</display-name>
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  <listener>
    <listener-class>org.springframework.web.context.request.RequestContextListener</listener-class>
  </listener>
  <context-param>
    <param-name>contexConfigLocation</param-name>
    <param-value>/WEB-INF/applicationContext.xml</param-value>
  </context-param>
  <servlet>
    <description></description>
    <display-name>ServletConnect</display-name>
    <servlet-name>ServletConnect</servlet-name>
    <servlet-class>net.javagurus.ServletConnect</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletConnect</servlet-name>
    <url-pattern>/ServletConnect</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletLogin</display-name>
    <servlet-name>ServletLogin</servlet-name>
    <servlet-class>net.javagurus.controller.ServletLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletLogin</servlet-name>
    <url-pattern>/ServletLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletConsultar</display-name>
    <servlet-name>ServletConsultar</servlet-name>
    <servlet-class>net.javagurus.controller.ServletConsultar</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletConsultar</servlet-name>
    <url-pattern>/ServletConsultar</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletNuevo</display-name>
    <servlet-name>ServletNuevo</servlet-name>
    <servlet-class>net.javagurus.controller.ServletNuevo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletNuevo</servlet-name>
    <url-pattern>/ServletNuevo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletBuscar</display-name>
    <servlet-name>ServletBuscar</servlet-name>
    <servlet-class>net.javagurus.controller.ServletBuscar</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletBuscar</servlet-name>
    <url-pattern>/ServletBuscar</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletEliminar</display-name>
    <servlet-name>ServletEliminar</servlet-name>
    <servlet-class>net.javagurus.controller.ServletEliminar</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletEliminar</servlet-name>
    <url-pattern>/ServletEliminar</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletUpdate</display-name>
    <servlet-name>ServletUpdate</servlet-name>
    <servlet-class>net.javagurus.controller.ServletUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletUpdate</servlet-name>
    <url-pattern>/ServletUpdate</url-pattern>
  </servlet-mapping>
</web-app>